<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <% if (settings && settings.logoPath) { %>
          <img src="<%= settings.logoPath %>" alt="<%= settings.siteName %>" height="40" class="d-inline-block align-text-top">
        <% } else { %>
          <i class="fas fa-book-open me-2"></i>Nhà Sách Online
        <% } %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Sách</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/authors">Tác giả</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Liên hệ</a>
          </li>
        </ul>
        
        <!-- Search form -->
        <form class="d-flex mx-auto" action="/books" method="GET">
          <input class="form-control me-2" type="search" name="search" placeholder="Tìm kiếm sách..." aria-label="Search">
          <button class="btn btn-outline-light" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
        
        <!-- User menu -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if (locals.user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/cart">
                <i class="fas fa-shopping-cart"></i>
                <% if (locals.cart && locals.cart.totalQty > 0) { %>
                  <span class="badge bg-danger"><%= locals.cart.totalQty %></span>
                <% } %>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                <i class="fas fa-user me-1"></i> <%= locals.user.name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <% if (locals.user.role === 'admin') { %>
                  <li><a class="dropdown-item" href="/admin">Quản trị</a></li>
                <% } else if (locals.user.role === 'author') { %>
                  <li><a class="dropdown-item" href="/author">Trang tác giả</a></li>
                <% } %>
                <li><a class="dropdown-item" href="/profile">Tài khoản</a></li>
                <li><a class="dropdown-item" href="/profile/orders">Đơn hàng</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/auth/logout">Đăng xuất</a></li>
              </ul>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Đăng nhập</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Đăng ký</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>